# Configuration Postgres & Odoo DB
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
PGDATABASE=

# Sécurité Odoo
ODOO_URL=http://web:8069
ODOO_MASTER_PASSWORD=

# Configuration Archiver API
ARCHIVER_URL=
ARCHIVER_TOKEN=
ARCHIVER_VILLE=